/* Reset de margens e preenchimentos padrão */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    /* Cor de fundo preta */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    /* Cor do texto na página */
}

/* Estilo da barra de navegação */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #5BBE42;
}

/* Estilo do conteúdo específico das páginas */
section {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

section figure img {
    width: 200px;
    height: 150px;
}

footer {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}